html{
text-align: center;
direction: rtl;

}

.handleScroll{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 101;
    left: 0px;
}
#Header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    z-index: 101;
    left: 0px;
}
#basket{
    background-color: #090909;
    color: white;
    border-radius: 100px;
}
#burger {
    position: absolute;
    position: fixed;
    color: black;
    font-size: 23px;
    font-weight: bolder;
    top: 10px;
    width: 100px;
    height: 60px;
    right: 20px;
    z-index: 10003;
    background-color: transparent;
    border: 0cap;

}

nav {

    position: fixed;
    position: relative;
    display: none;
    background-color: rgb(176, 221, 232);
    width: 90%;
    max-width: 400px;
    height: 600px;
    right: 0px;
 
    gap: 10%;
    z-index: 100005;
  margin-right: 0px;

}

nav a {
    text-decoration: none;
    color: black;

    font-size: x-large;
}
nav :nth-child(2){
    margin-top: 40px;
}

.burger_press {
    display: block;
    background-color: rgb(176, 221, 232);
    display: flex;
    width: 70%;
    height: 600px;
    right: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10%;
   
}

#cancelBurger {
    position: absolute; 
    top: 10px; 
    left: 20px; 
    background: none; 
    border: none; 
    font-size: 24px; 
    cursor: pointer;
}
#icon{
    display: flex;
    position: fixed;
    gap: 5PX;
    left: 90px;
    top: 15px;
    width: 130px;
    height: 40px;
}


#sugest {
    position: fixed;
    z-index: 102;
    
    line-height: 1px;
    border: solid 1px ;
    border-radius: 30px;
    color: black;
    width: 130px;
    height: 40px;
    left: 10px;
    top: 15px;
}

#sugest h1 {
    border-radius: 30px;
    border-color: black;
}

#sugest #user_name {
    z-index: 11000;
}
#logo {
    position: absolute;
    width: 110px;
    height: 80px;
    left: 45%;

}
#imgg {
    width: 100%;
    height: 600px;
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 0px;
}
#all {
    position: relative;
    background-color: rgb(251, 248, 244);
    z-index: 2;
    width: 100%;
right: 0px;
left: 0px;
    margin-top: 600px;

}
#About_us{
    background-color:#d3e3b5;
}

.overlay {
   
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none; 
    z-index: 999; 
}


.cart {
display: none;
position: fixed;
top: 0;
left: 0;
width: 300px;
height: 100vh;
border: 1px solid #ccc;
background-color: white;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
overflow: hidden;
z-index: 100000;

}


.cart-content {
overflow-y: auto; /* אפשר גלילה */
height: calc(90% - 100px); 
display: flex;
flex-direction: row;
/* row-gap: 10px; */
/* margin-bottom: 400px; */
position: relative;

}

.cart-heder{
    /* position: fixed; */
background-color: rgb(236, 231, 231);
height: 50px;
margin-top: -20px;
z-index: 10;
}
.close-button {
    position: absolute;
    top: 10px; 
    left: 10px; 
    border: none;
    background: none;
    font-size: 24px; 
    cursor: pointer; 
}

.cart-footer {
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 100px; /* גובה קבוע */
background-color: #f1f1f1;
border-top: 1px solid #ccc;
text-align: center;
padding: 10px;
}
.cart-footer button{
    background-color: #f0dede;
    border-radius: 100px;
}
button {
cursor: pointer;
}


#productInShoppingCart{
border: solid 3px white;
/* display: flex; */
height: 150px;
width: 295px;
/* position: fixed; */
align-items: center;
justify-content: center;
position: relative;
}

#center h3{
    position: absolute;
    top: 15px;
font-size: 16px;
font-weight: 100;
}
#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
row-gap: 1%;
gap: 10px;
margin-right: 50px;
position: relative;
}
.price{
    position: absolute;
   top: 80px;
   

}
#buttons{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* gap: 3%; */
 left: 85px;
top: 110px;
border: solid 1px;
height: 30px;
width: 80px;
}
.quantity{
    width: 20px;
    font-size: medium;
}
#buttons button{
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: solid 1px

}
#productInShoppingCart img{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 35px;
    
}

.remove-item {
    position: absolute;
    top:10px;
    left:10px;
  background-color: transparent;
  border: none;
}

#Footer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 5%;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 330px;
    align-items: center;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin-top: 100px;
    line-height: 30px;
}

#Footer a {
    text-decoration: none;
    color: rgb(78, 78, 78);
    flex-wrap: wrap;
}
@media(max-width: 490px){
    #sugest{
        display: none;
    }
    #icon{
        display: none;
    }
    #logo{
        left: 10px;
    }
}



